.header-title {
  font-size: 28px;
  padding: 0 20px;
  font-weight: 550;
}

.user-info {
  color: rgba(0, 0, 0, 0.85);
  padding: 0 12px;
  transition: all 0.3s;
}

.user-info:hover {
  background: rgba(0, 0, 0, 0.025);
}
.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background-color: #ffffffaf;
  border-radius: 6px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  transition: all 0.3s;
}
.is-collapsed {
  font-size: 36px;
  padding: 0 14px;
  transition: all 0.3s;
}
.is-collapsed h4 {
  width: 22px;
  overflow: hidden;
}
